/* All Common CSS Starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

/* All Common CSS Ends */

/* NavBar Part Start */



.nav-item{
    padding: 0 15px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 500;
}

.nav-link i {
margin-left: 5px;
}

.cbtn {
    border-radius: 20px;
    padding: 20px 38px;
    background: #8454F5;
    color: white;
}

/* NavBar Part Ends */





/* Banner Part Start */


#BannerPart {
    padding-top: 270px;
    padding-bottom: 250px;
    background-image: url(../Images/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.bannertext h1 {
    color: #1D354F;
    font-size: 64px;
    font-weight: bold;
}

.bannertext p {
    color: #29313D;
    font-size: 18px;
    padding: 38px 0px;
    font-weight: normal;
    line-height: 200%;
}

.common_title h3 {
    font-weight: 600;
    font-size: 48px;
    color: #29313D;
}

.service-items {
    background: #FDFDFD;
    padding: 20px;
}

.service-items h3 {


    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #29313D;
    line-height: 200%;

}

.service-items p {

    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", serif;
    color: #29313D;
    line-height: 160%;

}

.service-items a {

    font-size: 16px;
    font-weight: 700;
    font-family: "Nunito", serif;
    color: #29313D;
    line-height: 140%;

}

.cmt {
    margin-top: 50px;
}

.service-items .itemboxs {
    border-radius: 30px;
    height: 100px;
    width: 100px;
    background: #C4C4C4;
}

.service_flex {
    display: flex;
}

/* Banner Part Ends */

/* Service Part Start */

/* Service Part Ends */



/* Lauch Part Start */
#LaunchPart {
    padding: 150px;
}

.mainimg {
    position: relative;
}

.subimg img {
    height: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);

}


.launch_text h3 {
    font-size: 48px;
    font-weight: 600;
    font-family: "Nunito", serif;
    line-height: 140%;
    color: #29313D;
    padding-right: 100px;
}

.launch_text p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", serif;
    line-height: 200%;
    color: #29313D;
    padding-right: 350px;
}


.txt_box {
    height: 100px;
    width: 100px;
    background: #C4C4C4;
    border-radius: 30px;
    margin-top: 50px;
}

.txt_boxes h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    padding: 20px 0px;
}

.txt_boxes p {
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
}

.txt_boxes a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0px;
    color: #29313D;
}

.Launch_Section_Bottom {
    margin-bottom: 70px;
}

/* Lauch Part Ends */


/* App Showcase Part Start */
#App-Showcase {
    padding: 150px 0px;
    background: #F8FDFE;
}

.showcase_boxes_flex {
    display: flex;
    justify-content: space-evenly;
}

.showcase_boxes {
    padding: 357.5px 165px;
    background: #C4C4C4;
    border-radius: 20px;
    margin: 0px 10px;
}

.Shoecase_heading {
    text-align: center;
}

.Shoecase_heading h3 {
    color: #29313D;
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 40px;
}

.Shoecase_heading p {
    color: #29313D;
    font-weight: 300;
    font-size: 18;
    padding-bottom: 70px;
}

.Boxes_button_flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

.Boxes_button {

    width: 12px;
    height: 12px;
    background: rgba(105, 85, 234, 0.3);
    border-radius: 50%;
}

.Boxes_button_diff {
    width: 12px;
    height: 12px;
    background: #6A55EA;
    border-radius: 50%;
}

/* App Showcase Part Ends */


/* Trusted Companies Part Start */
#Trusted_Companies {
    padding: 150px;
}

.Companies_heading {
    display: flex;
    justify-content: space-between;
}

.Companies_heading h3 {
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 130%;
}

.companiesbtn {
    height: 65px;
    width: 150px;
    background: #8454F5;
    border-radius: 25px;
    color: #FDFDFD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Companies_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;

}

.CompaniesImg_Frames {
    /* padding: 55px 105px; */
    height: 110px;
    width: 210px;
    background: #F3F7FD;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Trusted CompaniesPart Ends */







/* Subcription Part Start */
#Subscription_Part {
    padding: 40px 0px;
}

.trailTop {
    text-align: center;
    margin-bottom: 50px;
}

.trailTop h4 {
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    text-transform: capitalize;
    line-height: 140%;
    margin-bottom: 20px;
}

.trailTop p {
    font-family: "Nunito", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    color: #29313D;
    padding-bottom: 50px;
}

.trailmiddle {
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline;
}

.trailmiddleheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trailmiddleheading h4 {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 500;
    color: #29313D;
    text-align: center;
    margin-bottom: 22px;
    border-bottom: 5px solid #6A55EA;
    max-width: 85px;
    padding-bottom: 10px;
    position: relative;
    transition: all 0.5s ease;
}

.trailmiddleheading h4:hover {
    color: #8454F5;
}

.trailmiddlepricing {
    display: inline;

}

.trailmiddlepricing i {
    padding: 20px 0;
}

.trailmiddleheading h6 {
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
    color: #29313D;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.trailmiddleheading h6:hover {
    color: #6A55EA;
}

.trailmidbtn {
    padding: 10px 15px;
    background: #6A55EA;
    margin-top: -20px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.trailmidbtn:hover {
    background: #29313D;
    color: #fff;
}

.trailmidbtn a {
    color: #fff;
}

/* Subscription Part Ends */

/* Recent Post part Start */
#Recent_Post {
    padding: 180px;
}

.Recent_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Follow_heading_links {
    display: flex;
    align-items: center;
}

.Follow_heading_links h4 {
    color: #29313D;
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", serif;
    padding-right: 40px;
}

.Follow_heading_links i {
    color: white;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #6A55EA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.Recent_heading h3 {
    color: #29313D;
    font-weight: 600;
    font-size: 48px;
    font-family: "Poppins", serif;
    padding-bottom: 60px;
}

.RecentBoxes {
    background: #C4C4C4;
    padding: 160px 100px;
    border-radius: 20px;
}

.Post_Para {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Post_Para h4 {
    color: #29313D;
    font-weight: 600;
    font-size: 34px;
    font-family: "Poppins", serif;
    text-transform: capitalize;
    line-height: 130%;
}

.Post_Para p {
    color: #29313D;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", serif;
    text-transform: capitalize;
    line-height: 130%;
    padding-right: 70px;
}

.Recent_Heading_Para {
    display: flex;
    align-items: center;

}

.Recent_Heading_Para_Box {
    height: 60px;
    width: 60px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-right: 20px;
}

.Recent_Heading_Para_text h4 {
    color: #29313D;
    font-weight: 600;
    font-size: 28px;
    font-family: "Poppins", serif;
}

.Recent_Heading_Para_text p {
    color: #29313D;
    font-weight: 300;
    font-size: 18px;
    font-family: "Poppins", serif;
    padding-top: 5px;
}

.ROW_PADDING {
    padding-top: 25px;
}

.Post_right {
    padding-left: 70px;
}

.Post_right_heading {
    display: flex;

}

.Post_right h3 {
    color: #29313D;
    font-weight: 300;
    font-size: 23px;
    font-family: "Poppins", serif;
    padding: 10px 0px 20px 10px;
    
}


.Post_right_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Post_right_box {
    height: 165px;
    width: 165px;
    background: #C4C4C4;
    border-radius: 20px;
    margin-top: 20px;
}



.recentbtn {
    height: 60px;
    width: 150px;
    background: #6A55EA;
    color: white;
    border-radius: 20px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

/* Recent Post part Start */



/* Talk part Start */
#Talk_Part {
    padding: 150px;
}

.Talks_heading {
    background: #6A55EA;
    padding: 200px 0px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Talks_heading h3 {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    font-family: "Poppins", serif;
    line-height: 130%;
    padding-left: 90px;
}

.talksbtn {
    height: 50px;
    width: 150px;
    color: #6A55EA;
    background: #fff;
    border-radius: 20px;
    margin-right: 90px;
    display: flex;
    align-items: center;
    justify-content: center;



}

/* Talk part End */



/* Footer part Start */
#Footer_Part {
    padding: 50px 0;
}

.footdes {
    padding-top: 50px;
    font-size: 18px;
    font-family: "Nunito", serif;
    line-height: 180%;
}

.Footerheadings {
    padding-bottom: 50px;
    margin-left: -50px;
}

.Footerheadings2 {
    padding-bottom: 50px;
    margin-left: -80px;
}

.foooter1 li {
    padding-bottom: 20px;
    margin-left: -80px;

}

/* Footer part End */

/* Header Part Start */
/* Header Part Ends */



/* Header Part Start */
/* Header Part Ends */

/* Header Part Start */
/* Header Part Ends */